<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>AccountManageControl</servlet-name>
        <servlet-class>Control.AccountManageControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddOrderControl</servlet-name>
        <servlet-class>Control.AddOrderControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConfirmAddOrderControl</servlet-name>
        <servlet-class>Control.ConfirmAddOrderControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConfrimFixOrderControl</servlet-name>
        <servlet-class>Control.ConfrimFixOrderControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteStaffControl</servlet-name>
        <servlet-class>Control.DeleteStaffControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DishManageControl</servlet-name>
        <servlet-class>Control.DishManageControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FixOrderControl</servlet-name>
        <servlet-class>Control.FixOrderControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomeControl</servlet-name>
        <servlet-class>Control.HomeControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginControl</servlet-name>
        <servlet-class>Control.LoginControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutControl</servlet-name>
        <servlet-class>Control.LogoutControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageControl</servlet-name>
        <servlet-class>Control.ManageControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MenuControl</servlet-name>
        <servlet-class>Control.MenuControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReservationControl</servlet-name>
        <servlet-class>Control.ReservationControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReserveControl</servlet-name>
        <servlet-class>Control.ReserveControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SpecialDishesControl</servlet-name>
        <servlet-class>Control.SpecialDishesControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StaffManageControl</servlet-name>
        <servlet-class>Control.StaffManageControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TableControl</servlet-name>
        <servlet-class>Control.TableControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateAccountControl</servlet-name>
        <servlet-class>Control.UpdateAccountControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateDishControl</servlet-name>
        <servlet-class>Control.UpdateDishControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateOrderControl</servlet-name>
        <servlet-class>Control.UpdateOrderControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditReservationControl</servlet-name>
        <servlet-class>Control.EditReservationControl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AccountManageControl</servlet-name>
        <url-pattern>/Account</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddOrderControl</servlet-name>
        <url-pattern>/AddOrder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConfirmAddOrderControl</servlet-name>
        <url-pattern>/ConfirmAddOrder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConfrimFixOrderControl</servlet-name>
        <url-pattern>/ConfirmFixOrder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteStaffControl</servlet-name>
        <url-pattern>/DeleteStaff</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DishManageControl</servlet-name>
        <url-pattern>/DishManage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FixOrderControl</servlet-name>
        <url-pattern>/FixOrder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomeControl</servlet-name>
        <url-pattern>/Home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginControl</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutControl</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageControl</servlet-name>
        <url-pattern>/Manage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MenuControl</servlet-name>
        <url-pattern>/Menu</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReservationControl</servlet-name>
        <url-pattern>/Reservation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReserveControl</servlet-name>
        <url-pattern>/Reserve</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SpecialDishesControl</servlet-name>
        <url-pattern>/SpecialDishes</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StaffManageControl</servlet-name>
        <url-pattern>/StaffManage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TableControl</servlet-name>
        <url-pattern>/Table</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateAccountControl</servlet-name>
        <url-pattern>/UpdateAccount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateDishControl</servlet-name>
        <url-pattern>/UpdateDish</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateOrderControl</servlet-name>
        <url-pattern>/UpdateOrder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditReservationControl</servlet-name>
        <url-pattern>/editReservation</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
