body{
    font-size: 0.7em;
}
.table{
    width: 70%;
    margin:  0 auto;
    text-align: center;
    margin-top: 2em;
    margin-bottom: 1em;
}
.table th{
    background-color: forestgreen;
    color: white;
}
.table tr:nth-child(even){
    background-color: #f2f2f2;
}
.table tr:nth-child(odd){
    background-color: beige;
}
 .table tr:hover {
     background-color: #ddd;
 }
 .table td{
     padding-left: 2em;
     padding-right: 2em;
 }
 

 .table a{
     text-decoration: none;
 }
 .table a:hover{
     color: crimson;
 }

 .clear{
     clear: both;
 }
 .add_table{
     margin-left: 5%;
     color: darkblue;
     font-size: 1.5em;
 }
 .cate{
     margin-left: 5%;
     margin-top: 0;
     margin-bottom: 0;
     color: captiontext;
     font-size: 1em;
     
 }
.btn {
    position: fixed;
    left:0;
    bottom:5%;
}
.tablee{
    display: none;
}
.input{
    border: none;
    width: 100%;
}
.button{
    margin: 0 auto;
}