body{
    font-size: 0.7em;
}
.table td{
    padding-left: 0;
    padding-right: 0;
}
h5{
    text-align: center;
    color: maroon;
    margin-top: 0.5em;
    margin-bottom: 0;
    font-size: 1.5em;
}
.buttonn{
    margin-bottom: 2em;
    margin-left: 45%;
    background-color: cornsilk;
    border-radius: 0.2em;
}
.buttonn:hover{
    background-color: yellow;
}
.footer{
    margin-top: 0.5em;
}
.addanA{
    margin-top: 1em;
    margin-bottom: 0.5em;
    margin-left: 5%;
    padding: 0.5em 1em 0.5em 1em;
    border: none;
    border-radius: 0.5em;
    background-color:chartreuse;
    font-size: 0.7em;
}
.addanA:hover{
    background-color: yellow;
}
.search{
    margin-top: 1em;
}
.close{
    text-decoration: none;
    color:crimson ;
    font-size: 0.8em;
}
close:hover{
    color: darkred;
}
