.table td{
    padding-left: 0;
    padding-right: 0;
}
h5{
    text-align: center;
    color: maroon;
    margin-top: 0.5em;
    margin-bottom: 0;
    font-size: 1.5em;
}
.buttonn{
    margin-bottom: 2em;
    margin-left: 45%;
    background-color: cornsilk;
    border-radius: 0.2em;
}
.buttonn:hover{
    background-color: yellow;
}
