
.login {
    padding: 20%;
    padding-left: 25%;
    text-align: center;
    background: url(../Images/backgroundHome.jpg);
    background-size: cover;
}

form{
    
    width: 80%;
    border: 2px solid grey;
    border-radius: 10em;
    background-color: white;
}
.login form img{
    width: 30%;
    height: auto;
    text-align: center;
}

