.nav-bar{
    text-align: center;
    margin-top: 1em;
}
.nav-bar a{
    font-size: 0.7em;
    text-decoration: none;
    padding: 0.7em 1em 0.7em 1em;
    margin-right: 0;
    margin-left: 0;
    background-color: khaki;
    color: black;
    font-weight: bold;
    border-radius: 0.3em;
}
.nav-bar a:hover{
    background-color: gold;
    padding: 0.8em 1.1em 0.8em 1.1em;
}
#checked{
    background-color: darkorange;
}



