/*body{
    font-size: 0.7em;
}*/
.form {
    background: url(../Images/Reservation.png);
    background-size: cover;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 5%;
    padding-bottom: 5%;
}
h6 {
    color: firebrick;
}
.pform input{
    margin-bottom: 1em;
    font-size: 0.7em;
}
.pform{
    margin-left: 5%;
    width: 30%;
    background-color: white;
    border: 0.2em solid #555;
    padding-left: 5%;
    padding-bottom: 10%;
}
.area {
    width: 8em;
    height: 6em;
}

