body {
  background-color: antiquewhite;
}
.menu {
  background-color: white;
}

.tableF tr td:first-child {
  text-align: left;
  border: 1px solid black;
}
.tableF tr td:last-child {
  text-align: right;
  border: 1px solid black;
}
